body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #00b33c;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berkshire Swash', cursive;
  text-transform: uppercase;
  font-weight: 700;
}
.font-black {
  color: #000;
}
.font-white {
  color: #fff;
}
.img-centered {
  margin: 0 auto;
} 
.mt-30 {
  margin-top: 30px;
}
.header-background {
  height: 100vh;
  min-height: 500px;
  background: url('thumb-1920-303828.png');
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  text-align:center;
  color: white;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;
}

header .intro-text .name {
  display: block;
  font-family: 'Berkshire Swash', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  color:#b30000;
  text-shadow:3px 3px 3px white;
}

#cssimagemap a.motomap{
	display: block;
	position: absolute;
}

#motomap1{
	width: 155px;
	height: 120px;
	left: 150px;
	top: 120px;
}

#motomap2{
	width: 155px;
	height: 120px;
	left: 900px;
	top: 125px;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
}

.navbar-custom {
  background: #003366;
  font-family: 'Berkshire Swash', cursive;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}

ul li{
	font-size:20px;
}

.navbar-custom .navbar-nav li a:hover {
  color: #00b33c;
  outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background:#00b33c;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #00b33c;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #00b33c;
  color: white;
  border-color: #00b33c;
}
.navbar-toggle .icon-bar {
  background-color: #fff !important;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

section {
  padding: 100px 0;
}
section h2 {
  margin: 0 0 25px;
  font-size: 3em;
}
section.success {
  background: #00b33c;
  color:white;
  font-weight:bold;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(0,179,60, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
  font-size: 70px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#portfolioModal1{
	color:#003366;
}

.img-responsive{
	width:718px;
	height:320px;
	margin-top:20px;
}

.motorcycles{
	text-align:justify;
	color:white;
	font-weight:bold;
	margin-top:-18px;
	text-shadow:2px 1px 1px darkred;
	font-size:25px;
}

.info{
	font-family: 'Berkshire Swash', cursive;
}

.modal-content{
	height: 100vh;
    min-height: 500px;
    background: url('95ee8696f8ed1abb3767928c4d0daf65.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-content1{
	background-color:lightgrey;
}

.motorcycle-names{
	color:white;
	text-shadow:2px 1px 1px darkred;
}

.motoadventure{
	text-align:justify;
	font-size:20px;
}

a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  color:#00b33c;
}

a:active {
  text-decoration: none;
  color:white;
}


footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #003366;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #003366;
}
.btn-outline {
  color: white;
  font-weight:bold;
  font-size: 30px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-lg .btn-outline:hover,
.btn-lg .btn-outline:focus,
.btn-lg .btn-outline:active,
.btn-lg .btn-outline.active {
  color:white;
  font-size: 35px;
  font-weight:bold;
  font-family: 'Berkshire Swash', cursive;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-left:50px;
}

.copyright{
	font-size:25px;
}

.contactme{
	font-size:25px;
	font-weight:bold;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color:#2C3E50;
  background:steelblue;
  border: solid 3px white;
  font-weight:bold;
}
.btn-primary {
  color: white;
  background-color: white;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  overflow-y:scroll;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}


.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: black;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
  position:fixed;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: black;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
  position:fixed;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/*famous motorcyclists*/

#famousMotorcyclists .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#famousMotorcyclists .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#famousMotorcyclists .portfolio-item .portfolio-link .caption {
  background: rgba(0,179,60, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#famousMotorcyclists .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#famousMotorcyclists .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#famousMotorcyclists .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
  font-size: 70px;
}
#famousMotorcyclists .portfolio-item .portfolio-link .caption .caption-content h3,
#famousMotorcyclists .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#famousMotorcyclists * {
  z-index: 2;
}
@media (min-width: 767px) {
  #famousMotorcyclists .portfolio-item {
    margin: 0 0 30px;
  }
}


/*routes*/

#routes .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#routes .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#routes .portfolio-item .portfolio-link .caption {
  background: rgba(0,179,60, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#routes .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#routes .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#routes .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
  font-size: 70px;
}
#routes .portfolio-item .portfolio-link .caption .caption-content h3,
#routes .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#routes * {
  z-index: 2;
}
@media (min-width: 767px) {
  #routes .portfolio-item {
    margin: 0 0 30px;
  }
}

/* moto rallies */

#motoRallies .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#motoRallies .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#motoRallies .portfolio-item .portfolio-link .caption {
  background: rgba(0,179,60, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#motoRallies .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#motoRallies .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#motoRallies .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
  font-size: 70px;
}
#motoRallies .portfolio-item .portfolio-link .caption .caption-content h3,
#motoRallies .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#motoRallies * {
  z-index: 2;
}
@media (min-width: 767px) {
  #motoRallies .portfolio-item {
    margin: 0 0 30px;
  }
}


/* automatic slider */

@keyframes slider{
	0%{
		left: 0;
	}
	
	20%{
		left: 0;
	}
	
	25%{
		left:-100%;
	}
	
	45%{
		left:-100%;
	}
	
	50%{
		left:-200%;
	}
	
	70%{
		left:-200%;
	}
	
	75%{
		left:-300%;
	}
	
	90{
		left:-300%;
	}
}

#slider{
	overflow:hidden;
}

#slider figure img{
  margin-top: 10px;
  width:25%;
  height:320px;
  float: left;
}

#slider figure{
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slider infinite;
}

footer{
	background-color:#003366;
}

video{
	max-width:720px;
	max-height:450px;
	margin-top:12px;
}

.person-names{
	color:white;
	text-shadow:2px 1px 1px darkred;
	margin-bottom:10px;
}

.motoactivists{
	margin-top:15px;
	color:white;
	text-shadow:2px 1px 1px darkred;
	font-size:25px;
	font-weight:bold;
	text-align:justify;
}

.motoactivists1{
	color:white;
	font-weight:bold;
	text-shadow:2px 1px 1px darkred;
	font-size:28px;
	margin-top:-5px;
	text-align:center;
}

.motolink{
	width:120px;
	height:120px;
}

.motolink1{
	width:100px;
	height:80px;
}

.motoactivists2{
	margin-top:12px;
	color:white;
	font-weight:bold;
	text-shadow:2px 1px 1px darkred;
	font-size:28px;
	text-align:center;
}

.motolink2{
	width:85px;
	height:90px;
}

.motolink3{
	width:102px;
	height:90px;
}

.motolink4{
	width:130px;
	height:80px;
}

.motolink5{
	width:135px;
	height:90px;
}

.motolink6{
	width:146px;
	height:90px;
}

.motolink7{
	width:145px;
	height:90px;
}

.persons{
	background-color:lightgrey;
}

.roadtrip{
	color:white;
	text-shadow:2px 1px 1px darkred;
	font-size:25px;
	font-weight:bold;
	text-align:justify;
}


/* lightbox */

.row-lightbox{
	box-sizing: border-box;
}

.row-lightbox > .column-lightbox{
	padding: 0 8px;
}

.row-lightbox:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close-lightbox{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close-lightbox:hover,
.close-lightbox:focus{
	color: red;
	font-weight:bold;
	
	cursor: pointer;
}

.mySlides{
	display: none;
}

.cursor{
	cursor: pointer;
}

/* Next and previous buttons */


.prev{
	margin-left:-600px;
}

.prev,
.next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev:hover,
.next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo{
	opacity: 0.6;
}

.active,
.demo:hover{
	opacity: 1;
}

img.lightbox-images{
	margin-bottom: -4px;
}

img.lightbox-images.hover-shadow{
	transition: 0.3s;
}

.hover-shadow:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo{
	height:200px;
	width:300px;
}


/*lightbox1*/

.row-lightbox1{
	box-sizing: border-box;
}

.row-lightbox1 > .column-lightbox1{
	padding: 0 8px;
}

.row-lightbox1:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox1{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox1{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox1{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close1{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close1:hover,
.close1:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides1{
	display: none;
}

.cursor1{
	cursor: pointer;
}

/* Next and previous buttons */


.prev1{
	margin-left:-600px;
}

.prev1,
.next1{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next1{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev1:hover,
.next1:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext1{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox1{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo1{
	opacity: 0.6;
}

.active,
.demo1:hover{
	opacity: 1;
}

img.lightbox-images1{
	margin-bottom: -4px;
}

img.lightbox-images1.hover-shadow1{
	transition: 0.3s;
}

.hover-shadow1:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow1{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images1{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo1{
	height:200px;
	width:300px;
}


/*lightbox2*/

.row-lightbox2{
	box-sizing: border-box;
}

.row-lightbox2 > .column-lightbox2{
	padding: 0 8px;
}

.row-lightbox2:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox2{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox2{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox2{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close2{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close2:hover,
.close2:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides2{
	display: none;
}

.cursor2{
	cursor: pointer;
}

/* Next and previous buttons */


.prev2{
	margin-left:-600px;
}

.prev2,
.next2{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next2{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev2:hover,
.next2:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext2{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox2{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo2{
	opacity: 0.6;
}

.active,
.demo2:hover{
	opacity: 1;
}

img.lightbox-images2{
	margin-bottom: -4px;
}

img.lightbox-images2.hover-shadow2{
	transition: 0.3s;
}

.hover-shadow2:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow2{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images2{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo2{
	height:200px;
	width:300px;
}

/*lightbox 3*/

.row-lightbox3{
	box-sizing: border-box;
}

.row-lightbox3 > .column-lightbox3{
	padding: 0 8px;
}

.row-lightbox3:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox3{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox3{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox3{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close3{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close3:hover,
.close3:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides3{
	display: none;
}

.cursor3{
	cursor: pointer;
}

/* Next and previous buttons */


.prev3{
	margin-left:-600px;
}

.prev3,
.next3{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next3{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev3:hover,
.next3:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext3{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox3{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo3{
	opacity: 0.6;
}

.active,
.demo3:hover{
	opacity: 1;
}

img.lightbox-images3{
	margin-bottom: -4px;
}

img.lightbox-images3.hover-shadow3{
	transition: 0.3s;
}

.hover-shadow3:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow3{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images3{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo3{
	height:200px;
	width:300px;
}

/* lightbox4 */

.row-lightbox4{
	box-sizing: border-box;
}

.row-lightbox4 > .column-lightbox4{
	padding: 0 8px;
}

.row-lightbox4:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox4{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox4{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox4{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close4{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close4:hover,
.close4:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides4{
	display: none;
}

.cursor4{
	cursor: pointer;
}

/* Next and previous buttons */


.prev4{
	margin-left:-600px;
}

.prev4,
.next4{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next4{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev4:hover,
.next4:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext4{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox4{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo4{
	opacity: 0.6;
}

.active,
.demo4:hover{
	opacity: 1;
}

img.lightbox-images4{
	margin-bottom: -4px;
}

img.lightbox-images4.hover-shadow4{
	transition: 0.3s;
}

.hover-shadow4:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow4{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images4{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo4{
	height:200px;
	width:300px;
}

/* lightbox5 */

.row-lightbox5{
	box-sizing: border-box;
}

.row-lightbox5 > .column-lightbox5{
	padding: 0 8px;
}

.row-lightbox5:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox5{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox5{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox5{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close5{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close5:hover,
.close5:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides5{
	display: none;
}

.cursor5{
	cursor: pointer;
}

/* Next and previous buttons */


.prev5{
	margin-left:-600px;
}

.prev5,
.next5{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next5{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev5:hover,
.next5:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext5{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox5{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo5{
	opacity: 0.6;
}

.active,
.demo5:hover{
	opacity: 1;
}

img.lightbox-images5{
	margin-bottom: -4px;
}

img.lightbox-images5.hover-shadow5{
	transition: 0.3s;
}

.hover-shadow5:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow5{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images5{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo5{
	height:200px;
	width:300px;
}

/* lightbox6 */

.row-lightbox6{
	box-sizing: border-box;
}

.row-lightbox6 > .column-lightbox6{
	padding: 0 8px;
}

.row-lightbox6:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox6{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox6{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox6{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close6{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close6:hover,
.close6:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides6{
	display: none;
}

.cursor6{
	cursor: pointer;
}

/* Next and previous buttons */


.prev6{
	margin-left:-600px;
}

.prev6,
.next6{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next6{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev6:hover,
.next6:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext6{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox6{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo6{
	opacity: 0.6;
}

.active,
.demo6:hover{
	opacity: 1;
}

img.lightbox-images6{
	margin-bottom: -4px;
}

img.lightbox-images6.hover-shadow6{
	transition: 0.3s;
}

.hover-shadow6:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow6{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images6{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo6{
	height:200px;
	width:300px;
}

/* lightbox7 */

.row-lightbox7{
	box-sizing: border-box;
}

.row-lightbox7 > .column-lightbox7{
	padding: 0 8px;
}

.row-lightbox7:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox7{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox7{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox7{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close7{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close7:hover,
.close7:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides7{
	display: none;
}

.cursor7{
	cursor: pointer;
}

/* Next and previous buttons */


.prev7{
	margin-left:-600px;
}

.prev7,
.next7{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next7{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev7:hover,
.next7:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext7{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox7{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo7{
	opacity: 0.6;
}

.active,
.demo7:hover{
	opacity: 1;
}

img.lightbox-images7{
	margin-bottom: -4px;
}

img.lightbox-images7.hover-shadow7{
	transition: 0.3s;
}

.hover-shadow7:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow7{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images7{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo7{
	height:200px;
	width:300px;
}

/* lightbox8 */

.row-lightbox8{
	box-sizing: border-box;
}

.row-lightbox8 > .column-lightbox8{
	padding: 0 8px;
}

.row-lightbox8:after{
	content: "";
	display:table;
	clear: both;
}


.column-lightbox8{
	float:left;
	width: 25%;
}

/*Modal background */

.modal-lightbox8{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content in lightbox */

.modal-content-lightbox8{
    position: relative;
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}


/* The close button */

.close8{
	color: white;
	position: absolute;
	top: 10px;
	margin-top: -30px;
	right: 25px;
	margin-right:128px;
	font-size: 100px;
	font-weight: 1200;
}

.close8:hover,
.close8:focus{
	color: red;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.mySlides8{
	display: none;
}

.cursor8{
	cursor: pointer;
}

/* Next and previous buttons */


.prev8{
	margin-left:-600px;
}

.prev8,
.next8{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the next button to the right */

.next8{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background with a little bit see-through */

.prev8:hover,
.next8:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3) etc */
.numbertext8{
	color: red;
	font-weight:bold;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container-lightbox8{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo8{
	opacity: 0.6;
}

.active,
.demo8:hover{
	opacity: 1;
}

img.lightbox-images8{
	margin-bottom: -4px;
}

img.lightbox-images8.hover-shadow8{
	transition: 0.3s;
}

.hover-shadow8:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow8{
	width: 720px;
	height: 320px;
	margin-left: -5px;
	margin-top: 30px;
}

.lightbox-images8{
	width: 1000px;
	height: 600px;
	margin-top:15px;
}

.demo8{
	height: 200px;
	width: 300px;
}

/* blink slider */

.myAutoSlides{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 25px;
}

.myAutoSlides1{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides2{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides3{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides4{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides5{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides6{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides7{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.myAutoSlides8{
	display: none;
	width: 500px;
	height: 320px;
	margin-top: 20px;
}

.rallies{
	text-align:justify;
	color:white;
	margin-top:-5px;
	font-weight:bold;
	text-shadow:2px 1px 1px darkred;
	font-size:25px;
}










































































































































































